*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
	position:relative;
}

body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	line-height: 1.5;
	color: #3D3D3D;
	margin: 0;
	padding: 0;

}

.container{
	background-color:#ECE9E1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 250px;
	padding: 50px;
	border-radius: 5px;
}

div h1{
	margin-bottom: 15px;
}

div .p-intro{
	width: 60%vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	margin: 20px auto;
	text-align: center;
}

.email a{
	text-decoration: none;
}

div .p-quality, div .ph4, div .education, div .list-edu, div .experience, div .personal-d, div .hobby, div .ref{
	padding: 20px 0 5px 35px;
}

div .list-qua, div .list-exp, div .d-table {
	padding: 5px 0 20px 35px;
}

div .p-quality{
	background-color: #3D3D3D;
	color: #ECE9E1;
	border-radius: 3px;
	padding: 20px 0 5px 35px;
}

div .edu-h4, div .exp-h4, div .p-data, div .hobb, div .ref-h, div .ref1, div .ref2{
	padding: 10px 0 5px 35px;	
}

div .edu-table{
	width: 100px;
}

tr {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

div .company{
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 10px 0;
}

div .exp-table{
	width: 100px;
}

div .hobb-p{
	padding: 5px 0 10px 35px;
}

div .ref{
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width:768px){
	.container{
		padding:0;
		margin:0;
		font-size: 12px;
		display: flex;
		width: 100%;
	}
	div .p-intro{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		margin: 30px auto 10px auto;
		text-align: center;
		line-height: 1.5;
	}

	div .p-quality{
		background-color: #3D3D3D;
		color: #ECE9E1;
		border-radius: 3px;
		padding: 3px;
	}

	div .education, div .experience, div .list-exp, div .p-data, div .hobby, div .ref{
		padding: 3px;
	}

	div .edu-table{
		width: 30px;
	}

	div .edu-school{
		text-align: left;
		padding-left: 10px;
	}

	div .exp-table{
		width: 20%vw;
		padding: 0 0 0 30px;
		display: flex;
		margin-top: 11px;
	}

	div .company{
		font-size: 13px;
		font-weight: bold;
		margin: 10px auto;
		width: 100%;
		display: flex;
	}
}